.depoimento__container {
    text-align: center;
    background-color: var(--cor-fundo-vermelho);
    padding: 5em 10em;
    margin: 1em 12em;
    border-radius: 0.5em;
}

.depoimento__chamada {
    color: var(--cor-primaria);
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 1em;
}

.depoimento__titulo {
    color: var(--cor-cinza-escuro);
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 1em;
}

.depoimento__perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.depoimento__foto {
    width: 5%;
}

.depoimento__nome {
    font-weight: 500;
}
.depoimento__cargo {
    color: var(--cor-cinza-claro);
}
